
SideBar {
	border: none;
	background-color: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 #2d2d2d, stop:0.925 #2d2d2d, stop:1 #232323);
	min-width: 84px;
}

SideBar QAbstractButton {
	text-align: bottom;
	background-color: transparent;
	background-repeat: no-repeat;
	color: #888888;
	border: none;
	height: 64px;
	width: 80px;
	margin: 9px 0px
}

SideBar QAbstractButton:hover {
	color: #ffffff;
}

SideBar QAbstractButton:checked {
	color: #ffffff;
}

SideBar QAbstractButton#nowPlaying { background-image: url(":/tab_now_playing_REST.png"); }
SideBar QAbstractButton#nowPlaying:hover { background-image: url(":/tab_now_playing_HOVER.png"); }
SideBar QAbstractButton#nowPlaying:checked { background-image: url(":/tab_now_playing_ACTIVE.png"); }

SideBar QAbstractButton#scrobbles { background-image: url(":/tab_scrobbles_REST.png"); }
SideBar QAbstractButton#scrobbles:hover { background-image: url(":/tab_scrobbles_HOVER.png"); }
SideBar QAbstractButton#scrobbles:checked { background-image: url(":/tab_scrobbles_ACTIVE.png"); }

SideBar QAbstractButton#profile { background-image: url(":/tab_profile_REST.png"); }
SideBar QAbstractButton#profile:hover { background-image: url(":/tab_profile_HOVER.png"); }
SideBar QAbstractButton#profile:checked { background-image: url(":/tab_profile_ACTIVE.png"); }

SideBar QAbstractButton#friends { background-image: url(":/tab_friends_REST.png"); }
SideBar QAbstractButton#friends:hover { background-image: url(":/tab_friends_HOVER.png"); }
SideBar QAbstractButton#friends:checked { background-image: url(":/tab_friends_ACTIVE.png"); }

SideBar QAbstractButton#radio { background-image: url(":/tab_radio_REST.png"); }
SideBar QAbstractButton#radio:hover { background-image: url(":/tab_radio_HOVER.png"); }
SideBar QAbstractButton#radio:checked { background-image: url(":/tab_radio_ACTIVE.png"); }

SideBar QLabel {
	qproperty-alignment: AlignHCenter;
	margin: 10px 10px;
}

QuickStartWidget {
	border: none;
	padding: 20px 20px 10px;
}

QuickStartWidget  QLineEdit {
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    padding: 10px 10px;
    selection-background-color: darkgray;
	font-size: 17px;
}

QuickStartWidget  QPushButton {
	background-image: url(":/radio_play_large_REST.png");
	background-color: transparent;
	background-repeat: no-repeat;
	color: transparent;
	border: none;
	height: 58px;
	width: 58px;
	margin: 0px 0px 0px 10px;
}

QuickStartWidget  QPushButton:hover { background-image: url(":/radio_play_large_HOVER.png"); }
QuickStartWidget  QPushButton:pressed { background-image: url(":/radio_play_large_PRESS.png"); }

QScrollArea {
	border: none;
}

RadioWidget #section {
	border: none;
	border-top: 1px solid white;
	padding: 7px 0px; 
	margin: 0px 20px;
}

RadioWidget PlayableItemWidget {
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	text-align: top left;
	font-weight: bold;
	font-size: 14px;
	color: #333;
	height: 40px;
	padding: 3px 0px 3px 54px;
	margin: 5px 0px;
}

RadioWidget PlayableItemWidget#library { background-image: url(":/radio_library_REST.png"); }
RadioWidget PlayableItemWidget#library:hover { background-image: url(":/radio_library_HOVER.png"); }
RadioWidget PlayableItemWidget#library:pressed { background-image: url(":/radio_library_PRESS.png"); }
		
RadioWidget PlayableItemWidget#mix { background-image: url(":/radio_mix_REST.png"); }
RadioWidget PlayableItemWidget#mix:hover { background-image: url(":/radio_mix_HOVER.png"); }
RadioWidget PlayableItemWidget#mix:pressed { background-image: url(":/radio_mix_PRESS.png"); }
		
RadioWidget PlayableItemWidget#rec { background-image: url(":/radio_rec_REST.png"); }
RadioWidget PlayableItemWidget#rec:hover { background-image: url(":/radio_rec_HOVER.png"); }
RadioWidget PlayableItemWidget#rec:pressed { background-image: url(":/radio_rec_PRESS.png"); }
		
RadioWidget PlayableItemWidget#friends,
RadioWidget PlayableItemWidget#neighbours { background-image: url(":/radio_friends_REST.png"); }
RadioWidget PlayableItemWidget#friends:hover,
RadioWidget PlayableItemWidget#neighbours:hover { background-image: url(":/radio_friends_HOVER.png"); }
RadioWidget PlayableItemWidget#friends:pressed,
RadioWidget PlayableItemWidget#neighbours:pressed { background-image: url(":/radio_friends_PRESS.png"); }

RadioWidget PlayableItemWidget#station {
	background-image: url(":/radio_play_small_REST.png");
	text-align: center left;
	font-size: 12px;
	height: 27px;
	padding: 0px 0px 0px 36px;
	margin: 2px 0px;
}

RadioWidget PlayableItemWidget#station:hover { background-image: url(":/radio_play_small_HOVER.png"); }
RadioWidget PlayableItemWidget#station:pressed { background-image: url(":/radio_play_small_PRESS.png"); }

RadioWidget > QLabel {
	padding: 10px 0px;
	margin: 0px 20px;
	border: 1px solid #cdcdcd;
	border-width: 0px 0px 1px 0px;
	font-weight: bold; 
	font-size: 15px;
}
