
SideBar {
	border: none;
	background-color: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 #222, stop:1 #444);
	min-width: 100px;
}

SideBar QToolButton {
	qproperty-toolButtonStyle: ToolButtonTextUnderIcon;
	background-color: transparent;
	background-repeat: no-repeat;
	color: white;
	border: none;
	icon-size: 48px;
	width: 48px;
}

SideBar QLabel {
	qproperty-alignment: AlignHCenter;
}

SideBar QToolButton:checked {
	background-color: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop:0 #000, stop:1 rgb(34,34,34));
}

/*(Url (disabled | active | normal | selected)? (on | off)? )*/

#nowPlaying
{
	qproperty-icon: url(":/now-playing-light.png"),
					url(":/now-playing.png") active,
					url(":/now-playing.png") selected;
}

#scrobbles
{
	qproperty-icon: url(":/scrobbles-light.png"),
					url(":/scrobbles.png") active,
					url(":/scrobbles.png") selected;
}

#profile
{
	qproperty-icon: url(":/user-light.png"),
					url(":/user.png") active,
					url(":/user.png") selected;
}

#friends
{
	qproperty-icon: url(":/now-playing-light.png"),
					url(":/now-playing.png") active,
					url(":/now-playing.png") selected;
}

#radio
{
	qproperty-icon: url(":/headphones-light.png"),
					url(":/headphones.png") active,
					url(":/headphones.png") selected;
}

