@import "../../lib/unicorn/unicorn.css";
@import "unicorn.css";

ScrobbleMeter {
    margin: 1px 3px 1px 5px;
    background-color: black;
    color: white;
    font-size: 22pt;
    border: 1px solid white;
}


StylableWidget {
    border: none;
    background-color: transparent;
}

unicorn--MainWindow #NowScrobbling,
unicorn--MainWindow #activityList {
    background-color: #eeeeee;
}

unicorn--MainWindow #ScrobbleStatusRow {
    border: none;
    background: rgba( 20, 20, 20, 240 );
}

ScrobbleInfoWidget {
    /* Appears as the top border for the status bar */
    border-bottom: 1px solid #1c1c1c;
}

WelcomeWidget {
	padding: 10px 10px 10px 10px;
}

WelcomeWidget #asLogo {
	qproperty-pixmap: url(":/as.png");
}

WelcomeWidget QLabel {
	color: black;
	qproperty-wordWrap: true;
}

WelcomeWidget QLabel#welcome {
	font-weight: bold;
	font-size: 28px;
}

WelcomeWidget QLabel#callToAction {
	font-size: 18px;
}

unicorn--MainWindow ProfileWidget,
QWidget#NowScrobbling {
    min-height: 159px;
}

QScrollArea,
QScrollArea QWidget#contents {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    margin-right: -2px;
}

QScrollArea {
    border: none;
    padding-right:2px;
}

#data_grid {
    padding: 15px;
    margin: 15px;
}

MetadataWindow ProfileWidget .QLabel,
ScrobbleInfoWidget QLabel,
MetadataWindow QAbstractItemView,
MetadataWindow DataListWidget {
    color: black;
    margin: 0px;
    font-size: 11px;
    font-weight: normal;
}

IPodScrobbleInfoWidget QLabel#iPod {
	qproperty-pixmap: url(":/as.png");
}

IPodScrobbleInfoWidget QLabel#title {
	font-size: 18px;
	font-weight: bold;
	color: #cccccc;
	qproperty-wordWrap: true;
}

IPodScrobbleInfoWidget QLabel#iPodScrobble {
	font-size: 11px;
	color: #cccccc;
	border-bottom: 1px solid #cccccc;
	qproperty-wordWrap: true;
}

QScrollArea > QWidget,
#scrollBarContainer {
    background-color: #1b1b1b;
}

ScrobbleInfoWidget QPushButton,
RadioWidget QPushButton {
    color: transparent;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    margin: 5px 15px;
    padding: 0px;
    height: 25px;
	min-height: 5px;
    width: 40;
}

ScrobbleInfoWidget QListView,
ProfileWidget QTreeView  {
    background-color: transparent;
    border: none;
    qproperty-flow: TopToBottom;
    qproperty-viewMode: IconMode;
    font-size: 14pt;
}

ScrobbleInfoWidget QListView { max-height: 120px; }

DataBox {
    padding: 0px;
    margin: 0px;
}

DataBox #header {
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    padding: 2px 0px;
    margin-bottom: 10px;
}

#header QLabel#icon {
    color: transparent;
    background-repeat: none;
    background-position: left bottom;
    min-width: 16px;
    max-width: 16px;
    padding: 0;
    margin: 0 0 0 2px;
}

DataBox #header QLabel {
    margin-left: 5px;
    font-size: 13pt;
}

DataBox #contents > QWidget {
    padding: 0px;
    margin: 0px;
    /*padding-top: 10px;*/
}

DataBox #contents QLabel {
    padding-bottom: 5px;
}

#scrobbles #header QLabel#icon { background-image: url(:/header_scrobbles.png); }
#tags #header QLabel#icon { background-image: url(:/header_tags.png); }
#listeners #header QLabel#icon { background-image: url(:/header_listeners.png); }
#bio #header QLabel#icon { background-image: url(:/header_bio.png); }
#similarArtists #header QLabel#icon { background-image: url(:/header_simartists.png); }

QTabWidget::pane {
	border: none;
}

#as {
	min-width: 30px;
}

ActivityListWidget {
	/* See QEasingCurve for a full list */
	qproperty-easingCurve: OutBounce;
	min-height: 0px;
	min-width: 40px;
}

ActivityListWidget QScrollBar {
    min-height: 0px;
}

ActivityListItem {
	min-width: 40px;
	min-height: 40px;
	max-height: 200px;
    background-color: transparent;
	border-bottom: 1px solid #999999;
	padding: 0px 20px 0px 10px;
}

NowPlayingItem {
	/* don't have a border on the now playing */
	border-bottom: none;
}

ActivityListItem[selected=true] {
	background-color: #BFDFF4;
}


ActivityListItem QLabel {
    color: black;
    font-size:12px;
}

NowPlayingItem QLabel {
    color: white;
}

ActivityListItem QLabel#player {
	min-width: 5px;
	qproperty-alignment: "AlignRight|AlignVCenter";
}

ActivityListItem[status="cached"] QLabel#text {
	color: #0187c5;
}

ActivityListItem[status="error"] QLabel#text {
	color: #d51007;
}

QLabel#correction {
	color: transparent;
	padding: 0px 0px;
	qproperty-pixmap: url(:/asterisk_small.png);
	qproperty-scaledContents: true;
	background-repeat: none;
    background-position: left bottom;
	max-width: 12;
	max-height: 11;
	margin: 0 0 0 5px;
}

ActivityListItem QLabel#love {
	color: transparent;
	qproperty-pixmap: url(:/love-isloved.png);
	qproperty-scaledContents: true;
	background-repeat: none;
	max-width: 15;
	max-height: 15;
}


MetadataWindow QLabel#name {
    margin-top: 4px;
    padding-top:2px;
    color: black;
}

DataListWidget QLabel{ padding: 0px; margin: 0px; }
DataListWidget { padding: 0px; margin: 0px; margin-bottom: -4px; }

ScrobbleInfoWidget LfmListView {
	max-height: 108;
	min-height: 108;
}

MetadataWindow QLabel#value,
MetadataWindow #value > QLabel {
    padding-top 1px;
    font-weight: normal;
}

MetadataWindow QLabel#value { padding: 5px; }

QTextBrowser {
    font-size: 10px;
    border: none;
    background-color: transparent;
}
QTextBrowser, QLabel#title1, QLabel#title2 {
    color: black;
}

QLabel#title1, QLabel#title2 {
	qproperty-wordWrap: true;
}

MetadataWindow #artistImage {
    padding: 0px;  
    margin-right: 10px;
    margin-left: 12px;
    border: 1px solid #716f6f; 
    min-width: 175px;     
	max-width: 175px;
	min-height: 130px; 
    max-height: 130px;
	qproperty-gradient: false;
}

QLabel#title1 {
    font-size: 18px;
    font-weight:bold;
    padding:12px 10px 0px -5px;
}

QLabel#title2 {
    font-size: 12px;
    font-weight: bold;
    padding:12px 10px 0px -2px;
}

QSizeGrip {
	margin: 0px 2px 2px 0px;
    color: #808080;
}

#nowPlaying {
    background-color: black;
       
    border-top: 1px solid black;
    qproperty-progressColor: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 #5B6980, stop:1 #4C586C);
	qproperty-scrobblePointColor: rgba( 128, 128, 128, 128 );
}

#nowPlaying QLabel#trackText {
    font-size: 12px;
    color: #eee;
    background: none;
}

#nowPlaying QLabel#timestamp {
    color: #a7b0bd;
}

#nowPlaying [selected=true] {
    background-color: #BFDFF4;
}

QWizard QLabel#errorMsg {
    background-color: #ffaaaa;
    border-color: #ffaaaa;
    border-width: 2px;
    border-style: solid;
    border-radius: 6px;
}

QComboBox::item:!selected {
    color: black;
}

LfmDelegate {
	qproperty-defaultImage: url(":/default_user.png");
}

LfmListView#listeningNow LfmDelegate {
	qproperty-defaultImage: url(":/default_user.png");
}

LfmListView#similarArtists LfmDelegate {
	qproperty-defaultImage: url(":/default_user.png");
}

QSplitter::handle {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgba( 200, 200, 200, 255 ), stop:1 rgba( 145, 145, 145, 255 ));
    background-image: url(:/slider_nubbin.png);
    background-repeat: no-repeat;
    background-position: center;
    border-top: 1px solid #636363;
    border-bottom: 1px solid #232323;
    border-left: none;
    border-right: none;
    height: 6px;
}

Phonon--VolumeSlider QSlider {
	margin: 0px;
	border: none;
	min-width: 98px;
	max-width: 98px;
}

Phonon--VolumeSlider QSlider::groove:horizontal {
    background-image: url(:/vol-rail.png);
	background-position: center;
    background-repeat: no-repeat;
	margin: 0px;
	border: none;
}

Phonon--VolumeSlider QSlider::handle:horizontal {
    background-image: url(:/vol-handle-rest.png);
	background-position: center;
    background-repeat: no-repeat;
	height: 16px;
    width: 16px;
	margin: 0px 0px;
	border: none;
}

Phonon--VolumeSlider  QSlider::handle:horizontal:pressed {
    background-image: url(:/vol-handle-onpress.png);
}



#playbackControls QPushButton {
    color: transparent;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    margin: 0px 0px;
	min-width: 0px;
	padding: 0px;
}

PlaybackControlsWidget {
	background-color: black;
}

#playbackControls QPushButton {
	min-height: 42px;
	min-width: 42px;
	max-height: 42px;
	max-width: 42px;
}

#playbackControls QPushButton#ban {
    background-image: url(:/ban-rest.png);
}

#playbackControls QPushButton#ban:hover {
    background-image: url(:/ban-onhover.png);
}

#playbackControls QPushButton#ban:pressed {
    background-image: url(:/ban-onpress.png);
}

#playbackControls QPushButton#ban:disabled {
    background-image: url(:/ban-disabled.png);
}

#playbackControls QPushButton#play {
    background-image: url(:/play-rest.png);
}

#playbackControls QPushButton#play:hover {
    background-image: url(:/play-onhover.png);
}

#playbackControls QPushButton#play:pressed {
    background-image: url(:/play-onpress.png);
}

#playbackControls QPushButton#play:checked {
    background-image: url(:/pause-rest.png);
}

#playbackControls QPushButton#play:hover:checked {
    background-image: url(:/pause-onhover.png);
}

#playbackControls QPushButton#play:pressed:checked {
    background-image: url(:/pause-onpress.png);
}

#playbackControls QPushButton#skip {
    background-image: url(:/skip-rest.png);
}

#playbackControls QPushButton#skip:hover {
    background-image: url(:/skip-onhover.png);
}

#playbackControls QPushButton#skip:pressed {
    background-image: url(:/skip-onpress.png);
}

#playbackControls QPushButton#skip:disabled {
    background-image: url(:/skip-disabled.png);
}

#playbackControls QPushButton#info {
    background-image: url(:/info-rest.png);
}

#playbackControls QPushButton#info:hover {
    background-image: url(:/info-onhover.png);
}

#playbackControls QPushButton#info:pressed {
    background-image: url(:/info-onpressed.png);
}

QPushButton#start {
    background-image: url(:/play-radio-large-rest.png);
	width: 49px;
	height: 49px;
}

QPushButton#start:hover {
    background-image: url(:/play-radio-large-onhover.png);
}

QPushButton#start:pressed {
    background-image: url(:/play-radio-large-onpress.png);
}

QPushButton#start:disabled {
    background-image: url(:/play-radio-large-onpress.png);
}

QLabel#onTour {
	background-color: #d71007;
	color: white;
	border-radius: 3px;
	text-align: center;
	font: 9px;
	padding: 1px;
	border: none;
	margin: 0px;
	max-height: 11px;
}

GhostWidget {
    color: transparent;
    background-color: transparent;
}

PlayableItemWidget {
    color: #000000;
    border: none;
    text-align: left;
    background-image: url(:/station-start-rest.png);
    background-repeat: no-repeat;
    background-position: left;
    background-origin:border;
    padding:5px 0px 5px 30px; 
    margin: 0px 5px;
}

PlayableItemWidget:hover  {
    background-image: url(:/station-start-onhover.png);
}

PlayableItemWidget:pressed  {
    background-image: url(:/station-start-onpress.png);
}

PlayableItemWidget:disabled {
background-image: url(:/vol-right.png);
}

#controlFrame,
#controlFrameMini{
	background-color: qlineargradient( x1:0, y1:1, x2:0, y2:0, stop:0 #5e5e5e, stop:1 #7b7b7b );
}

#controlFrame {
	border-top: 1px solid #B3B5B4;
}

#details {
	min-height: 80px;
	max-height: 80px;
}
	
#details,
#detailsMini {
	background-color: black;
	border-radius: 3px;
	background-image: url(:/watermark-fullsize.png);
	background-position: center;
    background-repeat: no-repeat;
	padding: 3px 5px;
}

#detailsMini {
	background-image: url(:/watermark-minimised.png);
}

#details QLabel,
#detailsMini QLabel {
	color: white;
}

QProgressBar {
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgba(91, 105, 128, 191), stop:1 rgba(75, 87, 107, 191));;
	border: none;
	border-radius: 0px;
	height: 1px;
	min-height: 5px;
	margin: 6px 0px 5px;
}

QProgressBar::chunk {
    background-color: rgba( 255, 255, 255, 25 );
 }
 


QTreeView {
	alternate-background-color: #f2f2f2;
	show-decoration-selected: 0;
	selection-color: transparent;
}

QTreeView::item {
	background-repeat: no-repeat;
    background-position: left;
    background-origin: border;
	padding: 4px 0px;
	show-decoration-selected: 0;
 }
 
QTreeView::item:focus::text {
	color: black;
	border: none;
	border-style: none;
}
 
QTreeView::item:pressed  {
}

QTreeView::item:disabled {
	background-color: #FFFCCA;
}

QTreeView::item:focus {
    background-color: red;
	color:black;
	border: none;
	border-style: none;
}

QTreeView::item:selected {
    background-color: #BFDFF4;
	color:black;
	border: none;
	border-style: none;
}

#scrollAreaWidgetContents {
	background-color: #f2f2f2;
}
#scrollAreaWidgetContents QLabel {
	padding: 10px 0px 10px 10px;
}

QRadioButton {
	padding: 4px 0px 4px 10px;
}

QRadioButton::indicator {
	image: url(:/radio-icon.png);
}

QRadioButton::indicator::unchecked {
    
}

QRadioButton::indicator:unchecked:hover {
}

QRadioButton::indicator:unchecked:pressed {
}

QRadioButton::checked {
	background-color: #BFDFF4;
}

QRadioButton::indicator:checked:hover {

}

QRadioButton::indicator:checked:pressed {
}

#volumeBars {
	qproperty-pixmap: url(:/volume-high.png);
	padding-bottom: 2px;
}

#stationEdit {
    border: 1px solid black;
    border-radius: 8px;
    padding: 3px 5px;
}

QToolBar {
     background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgba( 200, 200, 200, 255 ), stop:1 rgba( 145, 145, 145, 255 ));
     spacing: 3px; /* spacing between items in the tool bar */
 }

QStatusBar {
    background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgba( 200, 200, 200, 255 ), stop:1 rgba( 145, 145, 145, 255 ));
	border-top: 1px solid black;
 }
/*
 QStatusBar::item {
    border: 1px solid red;
    border-radius: 3px;
 }
*/

/*
 * The following css will affect rich text in QLabel / QTextBrowser etc
 */

p {
    font-size: 12px;
}

a {
    color: #4c7699;
    text-decoration: none;
    font-weight: normal;
}

a.title {
    font-weight: bold;
}

a.title :hover {
    color: #4c7699
}
