@import "unicorn.css";

ScrobbleMeter {
    color: white;
    background-color: black;
    border: solid 1px white;
    height: 30px;
}

unicorn--MainWindow RestWidget,
unicorn--MainWindow QWidget#NowScrobbling,
unicorn--MainWindow StylableWidget
{
    background-color: rgba(20,20,20,240);
}

TitleBar {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-color: qlineargradient( x1:0, y1:0, x2:0, y2:1, stop:0 #4c4c4c, stop:1 #3d3d3d);
}

TitleBar QLabel {
    font-weight: bold;
    font-size: 11px;
    color: #cccccc;
    margin-right: 20px;
}

TitleBar QPushButton, 
TitleBar QPushButton:clicked {
    margin: 0px;
    padding: 0px;
    border: none;
    background-color: transparent;
    background-clip: margin;
    background-origin: margin;
    background-image: url(:/close.png);
    background-position: center;
    background-repeat: no-repeat;
    min-width: 20px;
    min-height:20px;
    max-height: 20px;
    max-width: 20px;
}

RestWidget,
QWidget#NowScrobbling {
    min-height: 195px;
}

ShareDialog {
    background-color: rgb(20, 20, 20);
}


QStatusBar QPushButton {
    color: transparent;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    margin: 5px 15px;
    height: 29px;
    width: 40;
}

QScrollArea,
QScrollArea > QWidget,
QScrollArea > QWidget > QWidget,
QListView {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

QScrollArea {
    border: none;
    padding-right:2px;
}

#data_grid {
    padding: 15px;
    margin: 15px;
}

ShareDialog TrackWidget QLabel,
ShareDialog > QLabel,
ShareDialog > QRadioButton,
ShareDialog > QCheckBox  { color: #cccccc; font-weight: bold; }

ShareDialog > QRadioButton:disabled {
    color: #888888;
}

ShareDialog QLabel[xerror="true"] { color: #d51007; }

MetadataWindow RestWidget .QLabel,
MetadataWindow QWidget#NowScrobbling QLabel,
MetadataWindow QListView,
MetadataWindow DataListWidget
MetadataWindow RestWidget QPushButton {
    color: #cccccc;
    padding: 1px 3px 1px 5px;
    margin: 0px;
    font-size: 11px;
    font-weight: bold;
}

ScrobbleMeter{
    margin: 1px 3px 1px 5px;
    background-color: black;
    color: white;
    font-size: 22pt;
    border: 1px solid white;
}

RestWidget QPushButton {
    border: none;
    background-color: transparent;
    color: #59bee5;
    margin-left: 14px;
    padding: 0px;
}

RestWidget QPushButton:hover {
    text-decoration:
}

QWidget#NowScrobbling #value,
QWidget#NowScrobbling #name,
MetadataWindow DataListWidget { 
    font-weight: bold;
    border-top: 1px solid #333;
    margin-top: 7px;
    margin-bottom: 0px;
}

MetadataWindow QLabel#name {
    margin-top: 4px;
    padding-top:2px;
    color: #afafaf;
}

DataListWidget QLabel { padding: 0px; margin: 0px; }

MetadataWindow QLabel#value,
MetadataWindow #value > QLabel, 
MetadataWindow DataListWidget {
    padding-top 1px;
    font-weight: normal;
}

MetadataWindow QLabel#value { padding: 5px; }

QTextBrowser {
    font-size: 12px;
    padding: -8px 0px 0px 0px;
    margin: 7px 0px 0px -5px;
    border: none;
    border-top: 1px solid #333;
    background-color: transparent;
}
QTextBrowser, QLabel#title1, QLabel#title2 {

    color: #e6e6e6;
}

RecipientsWidget {
	background: #FFFFFF;
	border: 1px solid #BBBBBB;
	border-color: black;
	padding: 0;
}

RecipientsWidget:edit-focus {
	border-color: blue;
}

RecipientWidget {
	background-color: #dddddd;
	margin: 1px;
	padding: 2px;
	border: 0px;
}

RecipientWidget:hover {
	background: #cccccc;
}

RecipientWidget QLabel {
	background-color: transparent;
	color: black;
	font-weight: normal;
	margin: 1px;
	padding: 0;
	border: 0;
}

RecipientWidget QPushButton {
	background-color: transparent;
	background-image: url(:/delete.png);
	background-repeat: no-repeat;
    background-position: left;
	background-origin: margin;
	color: transparent;
    border: none;
    text-align: left;
    padding: 0px 0px; 
    margin: 0px 0px;
	height: 15px;
    min-width: 15px;
	max-width: 15px;
}

QListView{
	background-color: white;
}

MetadataWindow #artist_image {
    padding: 0px;  
    border: 1px solid #716f6f; 
    min-width: 85px; 
    min-height: 85px; 
}

QPushButton#love {
    background-image: url(:/love-rest.png);
}

QPushButton#love:hover {
    background-image: url(:/love-onhover.png);
}

QPushButton#love:pressed {
    background-image: url(:/love-onpress.png);
}

QPushButton#love:checked {
    background-image: url(:/love-isloved.png);
}

QPushButton#tag {
    background-image: url(:/tag-rest.png);
}

QPushButton#tag:hover {
    background-image: url(:/tag-onhover.png);
}

QPushButton#tag:pressed {
    background-image: url(:/tag-onpress.png);
}

QPushButton#share {
    background-image: url(:/share-rest.png);
}

QPushButton#share:hover {
    background-image: url(:/share-onhover.png);
}

QPushButton#share:pressed {
    background-image: url(:/share-onpress.png);
}

QStatusBar {
    background-color: qlineargradient( x1:0, y1:0, x2:0, y2:1, stop:0 #4c4c4c, stop:1 #3d3d3d);
}

QStatusBar::item {
    border: none;
}



QLabel#title1 
{
    font-size: 18px;
    font-weight:bold;
    padding:12px 10px 0px 10px;
}

QLabel#title2
{
    font-size: 12px;
    font-weight: bold;
    padding:12px 10px 0px 10px;
}

QScrollBar {
    background-color: #3b3b3b;
    border-radius: 5px;
}

QScrollBar::add-page, 
QScrollBar::sub-page {
    background-color: transparent;
}

QScrollBar::handle {
    background-color: qlineargradient( x1:0, y1:0, x2:1, y2:0, stop:0 #878787, stop:1 #636464 );
    min-height: 20px;
    margin: 3px 0px 3px 3px;
    border-radius: 5px;
}

QScrollBar::sub-line,
QScrollBar::add-line {
    height: 0px;
}

QSizeGrip {
    margin-right: 2px;
    margin-bottom: 2px;
}

ScrobbleStatus#now_playing {
    margin: 0px;
    padding: 0px;
    color: #262626;
    border-top: 1px solid #d9eaef;
    background-color: qlineargradient( x1:0, y1:0, x2:0, y2:1, stop:0 #c2dfe7, stop:1 #8ba2a8 );
}

QWidget#NowScrobbling ScrobbleStatus QLabel {
    padding: 3 5 5 5;
    border: none;
    font-size: 11px;
    color: black;
    background: none;
}

ScrobbleStatus QLabel#player_status {
    color: #676767;
}

QWizard QLabel#errorMsg {
    background-color: #ffaaaa;
    border-color: #ffaaaa;
    border-width: 2px;
    border-style: solid;
    border-radius: 6px;
}

QComboBox::item:!selected {
    color: black;
}

/*
 * The following css will affect rich text in QLabel / QTextBrowser etc
 */

a {
    color: #4c7699;
    text-decoration: none;
    font-weight: normal;
}

a.title {
    font-weight: bold;
}

a.title :hover {
    color: #4c7699
}

