@import "unicorn.css";

ScrobbleMeter {
    margin: 1px 3px 1px 5px;
    background-color: black;
    color: white;
    font-size: 22pt;
    border: 1px solid white;
}


StylableWidget {
    border: none;
    background-color: transparent;
}

unicorn--MainWindow ProfileWidget,
unicorn--MainWindow QWidget#NowScrobbling,
unicorn--MainWindow QWidget#navigation {
    background-color: rgba(20,20,20,240);
}

unicorn--MainWindow #slideOverContainer {
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
}

TitleBar {
    border: 1px solid #808080;
    border-bottom: none;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background-clip: border;
    background-color: qlineargradient( x1:0, y1:0, x2:0, y2:1, stop:0 #4c4c4c, stop:1 #3d3d3d);
}

TitleBar QLabel {
    font-weight: bold;
    font-size: 11px;
    color: #cccccc;
    margin-right: 20px;
}

TitleBar QPushButton, 
TitleBar QPushButton:pressed {
    margin: 0px;
    padding: 0px;
    border: none;
    background-color: transparent;
    background-clip: margin;
    background-origin: margin;
    background-image: url(:/close.png);
    background-position: center;
    background-repeat: no-repeat;
    min-width: 20px;
    min-height:20px;
    max-height: 20px;
    max-width: 20px;
}

unicorn--MainWindow ProfileWidget,
QWidget#NowScrobbling {
    min-height: 195px;
}

QStatusBar QPushButton,
#StatusBar QPushButton {
    color: transparent;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    margin: 5px 15px;
    padding: 0px;
    height: 29px;
    width: 40;
}

QStatusBar,
#StatusBar {
    background-color: qlineargradient( x1:0, y1:0, x2:0, y2:1, stop:0 #4c4c4c, stop:1 #3d3d3d);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border: 1px solid #808080;
    border-top: none;
}

QStatusBar::item {
    border: none;
}

#StatusBar {
    padding: -10px;
    margin: 0px;
}

QToolButton {
    border: none;
    padding:-1px -2px -2px -1px;
    margin: 0px;
}

QToolButton[popupMode="1"] {
    padding-right: 9px;
}

QToolButton::menu-button {
    border: 1px solid #141414;
    padding-left: 3px;
    width: 7px;
    background-color: rgba( 255, 255, 255, 200 );
}

QToolButton::menu-arrow {
    color: black;
    left: -3px;
    margin: 0px;
}

QScrollArea,
QScrollArea > QWidget,
QScrollArea > QWidget > QWidget,
QListView {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

QScrollArea {
    border: none;
    padding-right:2px;
}

#data_grid {
    padding: 15px;
    margin: 15px;
}

TagDialog QGroupBox::flat {
    background: transparent;
    border: none;
    margin: 0px;
    padding: 0px;
}

TagDialog QGroupBox DataListWidget {
    border: none;
}

ShareDialog QLabel[xerror="true"] { color: #d51007; }

MetadataWindow ProfileWidget .QLabel,
MetadataWindow QWidget#NowScrobbling QLabel,
MetadataWindow QListView,
MetadataWindow DataListWidget
MetadataWindow ProfileWidget QPushButton {
    color: #cccccc;
    margin: 0px;
    font-size: 11px;
    font-weight: bold;
}

ProfileWidget #title {
    font-size: 20pt;
}

ProfileWidget #avatar {
    border: 1px solid white;
    min-height: 64px;
    max-width: 64px;
    min-width: 64px;
    max-width: 64px;
}

ProfileWidget QPushButton {
    border: none;
    background-color: transparent;
    color: #59bee5;
    padding: 0px;
    margin: 0px;
}

ProfileWidget QFrame#ScrobbleDetails {
    border: 1px solid white;
    border-radius: 7px;
}

ProfileWidget QFrame#ScrobbleDetails QLabel {
    text-align: center;
}



QWidget#NowScrobbling #value,
QWidget#NowScrobbling #name,
MetadataWindow DataListWidget { 
    font-weight: bold;
    border-top: 1px solid #333;
    margin-top: 7px;
    margin-bottom: 0px;
}

MetadataWindow QLabel#name {
    margin-top: 4px;
    padding-top:2px;
    color: #afafaf;
}

DataListWidget QLabel{ padding: 0px; margin: 0px; padding-left: 5px;}

MetadataWindow QLabel#value,
MetadataWindow #value > QLabel, 
MetadataWindow DataListWidget {
    padding-top 1px;
    font-weight: normal;
}

MetadataWindow QLabel#value { padding: 5px; }

QTextBrowser {
    font-size: 12px;
    padding: -8px 0px 0px 0px;
    margin: 7px 0px 0px -5px;
    border: none;
    border-top: 1px solid #333;
    background-color: transparent;
}
QTextBrowser, QLabel#title1, QLabel#title2 {

    color: #e6e6e6;
}

ItemSelectorWidget {
	background: #FFFFFF;
	border: 1px solid #BBBBBB;
	border-color: black;
	padding: 0;
}

ItemSelectorWidget:edit-focus {
	border-color: blue;
}

SelectedItemWidget {
	margin: -2px 1px;
	padding: -2px 2px;
	border: 1px solid black;
}

SelectedItemWidget:hover {
/*	background: #cccccc;*/
}

SelectedItemWidget QLabel {
	background-color: transparent;
	color: black;
	font-weight: normal;
	margin: 1px;
	padding: 0;
	border: 0;
}

SelectedItemWidget QPushButton {
	background-color: transparent;
	background-image: url(:/delete.png);
	background-repeat: no-repeat;
    background-position: left;
	background-origin: margin;
	color: transparent;
    border: none;
    text-align: left;
    padding: 0px 0px; 
    margin: 0px 0px;
	height: 15px;
    min-width: 15px;
	max-width: 15px;
}

QListView{
	background-color: white;
}

MetadataWindow #artist_image {
    padding: 0px;  
    border: 1px solid #716f6f; 
    min-width: 85px; 
    min-height: 85px; 
}

QPushButton#love { background-image: url(:/love-rest.png); }
QPushButton#love:hover { background-image: url(:/love-onhover.png); }
QPushButton#love:pressed { background-image: url(:/love-onpress.png); }
QPushButton#love:checked { background-image: url(:/love-isloved.png); } 

QPushButton#tag { background-image: url(:/tag-rest.png); } 
QPushButton#tag:hover { background-image: url(:/tag-onhover.png); } 
QPushButton#tag:pressed { background-image: url(:/tag-onpress.png); } 

QPushButton#share { background-image: url(:/share-rest.png); } 
QPushButton#share:hover { background-image: url(:/share-onhover.png); }
QPushButton#share:pressed { background-image: url(:/share-onpress.png); }


QLabel#title1 
{
    font-size: 18px;
    font-weight:bold;
    padding:12px 10px 0px 5px;
}

QLabel#title2
{
    font-size: 12px;
    font-weight: bold;
    padding:12px 10px 0px 5px;
}

#NowScrobbling QScrollBar {
    background-color: transparent;
    border-radius: 5px;
}

#NowScrobbling QScrollBar::add-page, 
#NowScrobbling QScrollBar::sub-page {
    background: transparent;
}

#NowScrobbling QScrollBar::handle {
    background-color: qlineargradient( x1:0, y1:0, x2:1, y2:0, stop:0 #878787, stop:1 #636464 );
    min-height: 20px;
    margin: 3px 0px 3px 3px;
    border-radius: 5px;
}

#NowScrobbling QScrollBar::sub-line,
#NowScrobbling QScrollBar::add-line {
    height: 0px;
}

QSizeGrip {
    /*margin-right: 12px;
    magin-bottom: 12px;*/
    color: #808080;
}

ScrobbleStatus#now_playing {
    margin: 0px;
    padding: 0px;
    color: #262626;
    background-color: qlineargradient( x1:0, y1:0, x2:0, y2:1, stop:0 #c2dfe7, stop:1 #8ba2a8 );
    border: none;
    border-left: 1px solid #808080;
    border-right: 1px solid #808080;
    /*border-top: 1px solid #d9eaef;*/
}

ScrobbleStatus QLabel {
    padding: 3 5 5 5;
    border: none;
    font-size: 11px;
    color: black;
    background: none;
}

ScrobbleStatus QLabel#player_status {
    color: #676767;
}

QWizard QLabel#errorMsg {
    background-color: #ffaaaa;
    border-color: #ffaaaa;
    border-width: 2px;
    border-style: solid;
    border-radius: 6px;
}

QComboBox::item:!selected {
    color: black;
}

/*
 * The following css will affect rich text in QLabel / QTextBrowser etc
 */

a {
    color: #4c7699;
    text-decoration: none;
    font-weight: normal;
}

a.title {
    font-weight: bold;
}

a.title :hover {
    color: #4c7699
}

