@import "../../lib/unicorn/unicorn.css";
@import "unicorn.css";

Phonon--VolumeSlider QSlider {
	margin: 0px;
	border: none;
	min-width: 98px;
	max-width: 98px;
}

Phonon--VolumeSlider QSlider::groove:horizontal {
    background-image: url(:/vol-rail.png);
	background-position: center;
    background-repeat: no-repeat;
	margin: 0px;
	border: none;
}

Phonon--VolumeSlider QSlider::handle:horizontal {
    background-image: url(:/vol-handle-rest.png);
	background-position: center;
    background-repeat: no-repeat;
	height: 16px;
    width: 16px;
	margin: 0px 0px;
	border: none;
}

Phonon--VolumeSlider  QSlider::handle:horizontal:pressed {
    background-image: url(:/vol-handle-onpress.png);
}



QPushButton {
    color: transparent;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    margin: 0px 0px;
	min-width: 0px;
	padding: 0px;
}

#playbackControls QPushButton {
	min-height: 42px;
	min-width: 42px;
	max-height: 42px;
	max-width: 42px;
}

#playbackControls QPushButton#ban {
    background-image: url(:/ban-rest.png);
}

#playbackControls QPushButton#ban:hover {
    background-image: url(:/ban-onhover.png);
}

#playbackControls QPushButton#ban:pressed {
    background-image: url(:/ban-onpress.png);
}

#playbackControls QPushButton#ban:disabled {
    background-image: url(:/ban-disabled.png);
}

#playbackControls QPushButton#play {
    background-image: url(:/play-rest.png);
}

#playbackControls QPushButton#play:hover {
    background-image: url(:/play-onhover.png);
}

#playbackControls QPushButton#play:pressed {
    background-image: url(:/play-onpress.png);
}

#playbackControls QPushButton#play:checked {
    background-image: url(:/pause-rest.png);
}

#playbackControls QPushButton#play:hover:checked {
    background-image: url(:/pause-onhover.png);
}

#playbackControls QPushButton#play:pressed:checked {
    background-image: url(:/pause-onpress.png);
}

#playbackControls QPushButton#skip {
    background-image: url(:/skip-rest.png);
}

#playbackControls QPushButton#skip:hover {
    background-image: url(:/skip-onhover.png);
}

#playbackControls QPushButton#skip:pressed {
    background-image: url(:/skip-onpress.png);
}

#playbackControls QPushButton#skip:disabled {
    background-image: url(:/skip-disabled.png);
}

#playbackControls QPushButton#info {
    background-image: url(:/info-rest.png);
}

#playbackControls QPushButton#info:hover {
    background-image: url(:/info-onhover.png);
}

#playbackControls QPushButton#info:pressed {
    background-image: url(:/info-onpressed.png);
}

QPushButton#start {
    background-image: url(:/play-radio-large-rest.png);
	width: 49px;
	height: 49px;
}

QPushButton#start:hover {
    background-image: url(:/play-radio-large-onhover.png);
}

QPushButton#start:pressed {
    background-image: url(:/play-radio-large-onpress.png);
}

QPushButton#start:disabled {
    background-image: url(:/play-radio-large-onpress.png);
}

QPushButton#back {
	background-image: url(:/back.png);
	min-width: 37px;
	min-height: 23px;
}

QPushButton#back:hover {
	background-image: url(:/back-onhover.png);
}

QPushButton#back:pressed {
	background-image: url(:/back-onpress.png);
}

QPushButton#nowPlaying {
	background-image: url(:/now-playing.png);
	width: 96px;
	height: 23px;
}

QPushButton#nowPlaying:pressed {
	background-image: url(:/now-playing-onpress.png);
}

QLabel#onTour {
	background-color: #d71007;
	color: white;
	border-radius: 3px;
	text-align: center;
	font: 9px;
	padding: 1px;
	border: none;
	margin: 0px;
	max-height: 11px;
}

GhostWidget {
    color: transparent;
    background-color: transparent;
}

PlayableItemWidget {
    color: #000000;
    border: none;
    text-align: left;
    background-image: url(:/station-start-rest.png);
    background-repeat: no-repeat;
    background-position: left;
    background-origin:border;
    padding:5px 0px 5px 30px; 
    margin: 0px 5px;
}

PlayableItemWidget:hover  {
    background-image: url(:/station-start-onhover.png);
}

PlayableItemWidget:pressed  {
    background-image: url(:/station-start-onpress.png);
}

PlayableItemWidget:disabled {
background-image: url(:/vol-right.png);
}

#controlFrame,
#controlFrameMini{
	background-color: qlineargradient( x1:0, y1:1, x2:0, y2:0, stop:0 #5e5e5e, stop:1 #7b7b7b );
}

#controlFrame {
	border-top: 1px solid #B3B5B4;
}

#details {
	min-height: 80px;
	max-height: 80px;
}
	
#details,
#detailsMini {
	background-color: black;
	border-radius: 3px;
	background-image: url(:/watermark-fullsize.png);
	background-position: center;
    background-repeat: no-repeat;
	padding: 3px 5px;
}

#detailsMini {
	background-image: url(:/watermark-minimised.png);
}

#details QLabel,
#detailsMini QLabel {
	color: white;
}

QProgressBar {
	background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop:0 rgba(91, 105, 128, 191), stop:1 rgba(75, 87, 107, 191));;
	border: none;
	border-radius: 0px;
	height: 1px;
	min-height: 5px;
	margin: 6px 0px 5px;
}

QProgressBar::chunk {
    background-color: rgba( 255, 255, 255, 25 );
 }
 


QTreeView {
	alternate-background-color: #f2f2f2;
	show-decoration-selected: 0;
	selection-color: transparent;
}

QTreeView::item {
	background-repeat: no-repeat;
    background-position: left;
    background-origin: border;
	padding: 4px 0px;
	show-decoration-selected: 0;
 }
 
QTreeView::item:focus::text {
	color: black;
	border: none;
	border-style: none;
}
 
QTreeView::item:pressed  {
}

QTreeView::item:disabled {
	background-color: #FFFCCA;
}

QTreeView::item:focus {
    background-color: red;
	color:black;
	border: none;
	border-style: none;
}

QTreeView::item:selected {
    background-color: #BFDFF4;
	color:black;
	border: none;
	border-style: none;
}

#scrollAreaWidgetContents {
	background-color: #f2f2f2;
}
#scrollAreaWidgetContents QLabel {
	padding: 10px 0px 10px 10px;
}

QRadioButton {
	padding: 4px 0px 4px 10px;
}

QRadioButton::indicator {
	image: url(:/radio-icon.png);
}

QRadioButton::indicator::unchecked {
    
}

QRadioButton::indicator:unchecked:hover {
}

QRadioButton::indicator:unchecked:pressed {
}

QRadioButton::checked {
	background-color: #BFDFF4;
}

QRadioButton::indicator:checked:hover {

}

QRadioButton::indicator:checked:pressed {
}

#volumeBars {
	qproperty-pixmap: url(:/volume-high.png);
	padding-bottom: 2px;
}

#stationEdit {
    border: 1px solid black;
    border-radius: 8px;
    padding: 3px 5px;
}
