@import "../../lib/unicorn/unicorn.css";
@import "unicorn.css";

QLabel#volumeLeft {
    background-image: url(:/vol-left.png);
	height: 16px;
    min-width: 19px;
	max-width: 19px;
}

QLabel#volumeRight {
    background-image: url(:/vol-right.png);
	height: 16px;
    min-width: 19px;
	max-width: 19px;
}

Phonon--VolumeSlider QSlider {
	margin: 0px;
	border: none;
	max-width: 72px;
}

Phonon--VolumeSlider QSlider::groove:horizontal {
    background-image: url(:/vol-rail.png);
	background-position: center;
    background-repeat: no-repeat;
	margin: 0px;
	border: none;
}

Phonon--VolumeSlider QSlider::handle:horizontal {
    background-image: url(:/vol-handle-rest.png);
	background-position: center;
    background-repeat: no-repeat;
	height: 16px;
    width: 16px;
	margin: 0px 0px;
	border: none;
}

Phonon--VolumeSlider  QSlider::handle:horizontal:pressed {
    background-image: url(:/vol-handle-onpress.png);
}

#playbackControls QPushButton {
    color: transparent;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    margin: 0px 0px;
	height: 29px;
	width: 39px;
}

#playbackControls QPushButton#ban {
    background-image: url(:/ban-rest.png);
}

#playbackControls QPushButton#ban:hover {
    background-image: url(:/ban-onhover.png);
}

#playbackControls QPushButton#ban:pressed {
    background-image: url(:/ban-onpress.png);
}

#playbackControls QPushButton#ban:disabled {
    background-image: url(:/ban-disabled.png);
}

#playbackControls QPushButton#play {
    background-image: url(:/play-rest.png);
}

#playbackControls QPushButton#play:hover {
    background-image: url(:/play-onhover.png);
}

#playbackControls QPushButton#play:pressed {
    background-image: url(:/play-onpress.png);
}

#playbackControls QPushButton#play:checked {
    background-image: url(:/stop-rest.png);
}

#playbackControls QPushButton#play:hover:checked {
    background-image: url(:/stop-onhover.png);
}

#playbackControls QPushButton#play:pressed:checked {
    background-image: url(:/stop-onpress.png);
}

#playbackControls QPushButton#skip {
    background-image: url(:/skip-rest.png);
}

#playbackControls QPushButton#skip:hover {
    background-image: url(:/skip-onhover.png);
}

#playbackControls QPushButton#skip:pressed {
    background-image: url(:/skip-onpress.png);
}

#playbackControls QPushButton#skip:disabled {
    background-image: url(:/skip-disabled.png);
}

#playbackControls QPushButton#info {
    background-image: url(:/scrobbler_rest.png);
	height: 29px;
	width: 29px;
}

#playbackControls QPushButton#info:hover {
    background-image: url(:/scrobbler_hover.png);
}

#playbackControls QPushButton#info:pressed {
    background-image: url(:/scrobbler_pressed.png);
}

#playbackControls QPushButton#info:disabled {
    /*background-image: url(:/scrobbler_.png);*/
}

PlayableItemWidget {
    color: #000000;
    border: none;
    text-align: left;
    background-image: url(:/station-start-rest.png);
    background-repeat: no-repeat;
    background-position: left;
    background-origin:border;
    padding:5px 0px 5px 30px; 
    margin: 0px 5px;
}

PlayableItemWidget:hover  {
    background-image: url(:/station-start-onhover.png);
}

PlayableItemWidget:pressed  {
    background-image: url(:/station-start-onpress.png);
}

PlayableItemWidget:disabled {
background-image: url(:/vol-right.png);
}
